.team-container {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  padding: 40px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.team-card {
  width: 200px;
  height: 260px;
  border: 3px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to top right, #c0f1a3, #9cbdf0, #ffb1a3);
  border-radius: 15px;
}

.team-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.team-name {
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

/* Hiệu ứng nhấp nháy khi hover */
.team-card:hover {
  animation: flash 0.6s infinite;
  transform: scale(1.25);
}

@keyframes flash {
  0%,
  100% {
    border-color: #f39c12;
    box-shadow: 0 0 10px #f39c12;
  }
  50% {
    border-color: #e74c3c;
    box-shadow: 0 0 20px #e74c3c;
  }
}
h2 {
  text-align: center;
  max-width: 1440px;
}
