.App {
  text-align: center;
  font-family: "Montserrat", sans-serif !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-cont {
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
h1 {
  border-bottom: 1px solid rgb(18, 18, 20);
  padding-bottom: 10px;
  text-align: center;
  margin: 20px 30%;
  margin-top: 40px;
}
.comment-cont {
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.f2 {
  z-index: 10;
  width: 100%;
  background: linear-gradient(to bottom right, #e7ca69, #1908af77, #acf080c4);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif !important;
}
.f2 img {
  width: 160px;
}
.floating-menu {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000; /* Hiển thị phía trên các phần tử khác */
}

.menu-item {
  width: 60px;
  height: 60px;
  margin: 10px 0;
  background-color: #f54b64; /* Màu nền */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.menu-item img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.menu-item:hover {
  transform: scale(1.1); /* Hiệu ứng phóng to khi hover */
  background-color: #ffa500; /* Thay đổi màu nền khi hover */
}
